<div>
    <h2>Registrar Empresa</h2>
    <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="correoElectronico">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Registrar</button>
    </form>
  </div>
  
